.header .header-logo {
    margin-top: 83.22px;
    margin-left: 136px;
    width: 193.62px;
    height: 29.41px;   
}
.header {
    display: flex;
    
}
.flex-container {
    display: flex;
    width: 545px;
    height: 24px;
    margin-top: 83px;
    margin-left: 724.19px;
    color: #3D37F1;
    font-weight: 700;
    font-size: 20px;
    gap: 38px;
    /* uppercase */
}

.provide h1 {
    margin-top: 392px;
    margin-left: 126px;
    font-size: 78px;
    color: #534D4D;
    font-weight: 700;
    line-height: 93.6px;
    font: lato;
}

.provide h6 {
    color: #534D4D;
    font-size: 22px;
    margin-top: 42px;
    margin-left: 131px;
    font: roboto;
}

.waveme {
    height: 76px;
    width: 263px;
    border-radius: 38px;
    background-color: #3D37F1;
    margin-left: 133px;
    margin-top: 156px;
}

.waveme h6 {
    color: #FFFFFF;
    margin-left: 107px;
    margin-top: 20px;
}

.waveme .vector {
    width: 30.28px;
    height: 30.96px;
    margin-top: 22.01px;
    margin-left: 51.01px;
}

