header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 83px 136px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 38px;
    margin-right: 321px;
}

header nav li a {
    font-family: 'lato' sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #3D37F1;
}

#home-section {
    width: 100%;
    padding: 0 80px 0 136px;
}

.home-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 176px;
}

.home-text-container h1 {
    font-family: 'lato' sans-serif;
    font-weight: 700;
    font-size: 76px;
    color: #534D4D;
    width: 602px;
}

.home-text-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #534D4D;
    font-size: 22px;
}

.home-text-container .text-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 42px;
}

.home-text-container button {
    width: 263px;
    height: 76px;
    background-color: #3D37F1;
    border-radius: 38px;

}